// header start

.header {
    &__Catalog__tetle__h2 {
        @include fontAll(34px, 700, $link);
        text-align: center;
        padding-top: 46px;
        padding-bottom: 11px;
        max-width: 100%;
        margin: 0 30px;
    }

    &__Catalog__ul {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        margin: 0 30px;

        li {
            padding: 3px;
        }
    }

    &__Catalog {
        padding-top: 230px;
        padding-bottom: 50px;
        position: relative;
    }

    &__Catalog__link {
        @include fontAll(14px, 400, $link);
    }
}

// header end


// Catalog start

.Catalog {
    margin-top: 80px;
    position: relative;
    margin-bottom: 80px;

    &__cart {
        width: 245px;
        margin: 0 5px 20px 0;
        max-width: 400px;
        padding: 34px 22px 37px 22px;
        @extend%transition;

        &:hover {
            background: #FFFFFF;
            box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.25);
            border-radius: 5px;
        }
    }

    &__logo {
        @include fiximg(200px, 191px, true);
        position: relative;
    }

    &__title__h2 {
        @include fontAll(20px, 600, $text);
        line-height: 120%;
        text-align: center;
        letter-spacing: 0.02em;
        margin: 19px 0 16px 0;
    }

    &__title__h6 {
        @include fontAll(16px, 400, #199A16);
        line-height: 120%;
        text-align: center;
    }

    &__title__h5 {
        @include fontAll(16px, 400, #F11C1C);
        line-height: 120%;
        text-align: center;
    }

    &__logo__link {
        padding: 5px 30px 6px 30px;
        @include fontAll(16px, 400, $link);
        line-height: 22px;
        border-radius: 16.5px;
        background-color: $orinj;
    }

    &__logo__button {
        position: absolute;
        top: 50%;
        left: 50%;
        @extend%transition;
        opacity: 0;
        transform: translate(-50%, -50%);
    }

    &__top {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}


.Catalog__cart:hover>.Catalog__logo .Catalog__logo__button {
    opacity: 1;
}

// Catalog end


// pogination start

.pogination {
    position: relative;
    display: flex;
    margin-top: 40px;
    align-items: center;
    justify-content: center;

    &__left__right {
        @include fiximg(13.6px, 23.8px, true);
        background-color: transparent;
        margin: 0 10px;
    }

    &__number {
        @include fontAll(18px, 500, $text);
        margin: 5px;
        width: 45px;
        height: 45px;
        background-color: transparent;
        border: 2px solid $orinj;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;

        a {
            @include fontAll(18px, 500, $text);
            padding: 10px;
            border-radius: 50px;
            width: 45px;
            height: 45px;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            -ms-border-radius: 50px;
            -o-border-radius: 50px;
        }
    }
}

.pogination button.active {
    background-color: $orinj;
    color: $link !important;
}

.pogination button.active a {
    color: $link !important;
}



// pogination end


@media (max-width:1030px) {
    .Catalog__top {
        max-width: 100%;
        margin: 0 30px;
    }

    .Catalog__cart {
        width: 230px;
        margin: 0 5px 20px 0;
        max-width: 400px;
        padding: 25px 15px 33px 15px;
    }
}


@media (max-width:960px) {
    .header__Catalog {
        padding-top: 310px;
        padding-bottom: 50px;
    }
}



@media (max-width:770px) {
    .Catalog {
        margin-top: 50px;
        position: relative;
        margin-bottom: 30px;
    }

    .Catalog__cart {
        width: 245px;
        margin: 0 5px 20px 0;
        max-width: 400px;
        padding: 34px 22px 37px 22px;
    }
}


@media (max-width:750px) {
    .header__Catalog {
        padding-top: 200px;
        padding-bottom: 50px;
    }

    .header__Catalog__tetle__h2 {
        font-size: 30px;
    }
}

@media (max-width:650px) {
    .header__Catalog__tetle__h2 {
        margin: 0 20px;
    }

    .header__Catalog__ul {
        margin: 0 20px;
    }

    .Catalog__top {
        margin: 0 20px;
    }

    .pogination {
        margin-top: 30px;
    }
}

@media (max-width:560px) {
    .Catalog__cart {
        width: 230px;
        margin: 0 5px 20px 0;
        max-width: 400px;
        padding: 25px 15px 33px 15px;
    }
}



@media (max-width:530px) {
    .Catalog__cart {
        width: 245px;
        margin: 0 5px 20px 0;
        max-width: 400px;
        padding: 34px 22px 37px 22px;
    }

    .header__Catalog__tetle__h2 {
        font-size: 28px;
    }

    .Catalog__top {
        justify-content: center;
    }
}


@media (max-width:400px) {
    .header__Catalog__tetle__h2 {
        font-size: 24px;
    }
}