// About_company start

.About_company {
    position: relative;
    margin-top: 70px;
    margin-bottom: 60px;

    &__top {
        display: flex;
        align-items: flex-start;
    }

    &__cart__img {
        @include fiximg(530px, 350px, true);
    }

    &__text {
        @include fontAll(16px, 400, #212529);
        line-height: 1.625;
        max-width: 530px;
        margin-right: 50px;
    }

    &__pro {
        padding-top: 60px;
        max-height: 160px
    }

    &__pro__text {
        @include fontAll(16px, 400, #212529);
    }

    &__pro__title__h3 {
        @include fontAll(16px, 600, #212529);
        padding-top: 19px;
        margin-bottom: 40px;
    }

    &__pro__link {
        @include fontAll(16px, 600, $text);
        background-color: $orinj;
        padding: 10px 10px;
        border-radius: 2px;
    }

    &__slaeder__item {
        @include fiximg(178px, 50px, false);
        margin: 0 10px;
        text-align: center;
    }

    &__slaeder {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
}

.About_company__slaeder .slick-slide {
    height: 70px;
    padding: 5px 0;
    max-height: 70px;
    text-align: center;
}

// About_company end


@media (max-width:1180px) {
    .About_company {
        max-width: 100%;
        margin-left: 30px;
        margin-right: 30px;

    }
}


@media (max-width:1070px) {
    .About_company__cart__img {
        width: 450px;
        height: 330px;
    }

    .About_company__text {
        margin-right: 20px;
    }
}


@media (max-width:900px) {
    .About_company__top {
        flex-direction: column-reverse;
    }

    .About_company__cart__img {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .About_company__text {
        max-width: 100%;
    }

    .About_company__pro {
        padding-top: 30px;
    }

    .About_company {
        margin-top: 40px;
        margin-bottom: 60px;
    }
}


@media (max-width:650px) {
    .About_company {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (max-width:430px) {
    .About_company__slaeder__item {
        display: contents;
    }
}