// Payment and leasing start 

.Payment {
    margin-top: 40px;
    position: relative;
    margin-bottom: 90px;

    &__text {
        @include fontAll(16px, 400, #7a7a7a);
        line-height: 1.625;
    }

    &__top__text {
        @include fontAll(16px, 400, #7a7a7a);
        line-height: 1.625;
        margin-top: 10px;
    }

    &__top {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-top: 30px;
    }

    &__top__cart {
        width: 190px;
        min-height: 60px;
        max-height: 300px;
        overflow: hidden;
        text-align: center;
        margin: 10px
    }

    &__top__title__h2 {
        @include fontAll(50px, 400, $orinj);
        margin-bottom: 15px;
    }

    &__top__title__h3 {
        @include fontAll(16px, 700, #7a7a7a);
        line-height: 1.625;
    }

    &__top__button__link {
        text-decoration: inherit;
        @include fontAll(15px, 500, $text);
        background-color: $orinj;
        padding: 12px 24px;
        border-radius: 2px;
    }

    &__top__button {
        margin-top: 30px;
    }
}


// Payment and leasing end 


@media (max-width:1180px) {
    .Payment {
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 40px;
        margin-bottom: 60px;
    }
}


@media (max-width:1100px) {
    .Payment__top {
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

@media (max-width:650px) {
    .Payment {
        margin-left: 20px;
        margin-right: 20px;
    }

    .Payment__top__cart {
        width: 175px;
    }
}

@media (max-width:450px) {
    .Payment__top__cart {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}