@font-face {
    font-family: 'Gotham Pro';
    src: url('../fontes/gothampro_light.ttf') format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('../fontes/GothamProRegular.ttf') format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('../fontes/gothampro_medium.ttf') format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('../fontes/gothampro_bold.ttf') format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('../fontes/gotham-ultra.ttf') format("truetype");
    font-weight: 900;
}